In [51]:
import pandas as pd

df = pd.read_csv('../data/nba_salaries.csv')
df.head()

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,0,Stephen Curry,48070014,PG,34,GSW,56,56,34.7,10.0,...,0.7,5.4,6.1,6.3,0.9,0.4,3.2,2.1,29.4,curryst01
1,1,John Wall,47345760,PG,32,LAC,34,3,22.2,4.1,...,0.4,2.3,2.7,5.2,0.8,0.4,2.4,1.7,11.4,walljo01
2,2,Russell Westbrook,47080179,PG,34,LAL/LAC,73,24,29.1,5.9,...,1.2,4.6,5.8,7.5,1.0,0.5,3.5,2.2,15.9,westbru01
3,3,LeBron James,44474988,PF,38,LAL,55,54,35.5,11.1,...,1.2,7.1,8.3,6.8,0.9,0.6,3.2,1.6,28.9,jamesle01
4,4,Kevin Durant,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,...,0.4,6.3,6.7,5.0,0.7,1.4,3.3,2.1,29.1,duranke01

In [52]:
def basic_wrangle(df, unique_thresh=0.95, na_thresh=0.5, messages=True):
    import pandas as pd

    for col in df:
        missing = df[col].isna().sum()
        unique = df[col].nunique()
        rows = df.shape[0]
        # Drop columns with more than na_thresh missing values
        if missing / rows > na_thresh:
            df = df.drop(columns=col, inplace=True)
            if messages:
                print(f'Dropped {col} due to missing values')
        # Drop columns with a high ratio of unique values
        elif unique / rows > unique_thresh:
            if df[col].dtype in ['object', 'int64']:
                df = df.drop(columns=col, inplace=True)
            if messages:
                print(f'Dropped {col} due to high ratio of unique values')
        # Drop columns with only 1 unique value
        elif unique == 1:
            df = df.drop(columns=col, inplace=True)
            if messages:
                print(f'Dropped {col} due to only 1 unique value, {df[col].unique()[0]}')

    return df

In [53]:
def basic_wrangling(df, unique_threshold=0.95, missing_threshold=0.5, messages=True):
    import pandas as pd

    # primary keys or too many unique values
    # too much missing data
    # single value columns

    for col in df:
        missing = df[col].isna().sum()
        unique = df[col].nunique()
        rows = df.shape[0]

        if missing / rows >= missing_threshold:
            df.drop(columns=[col], inplace=True)
            if messages:
                print(
                    f'Column "{col}" dropped because of too much missing data ({round(missing/rows, 2)*100}%)'
                )
        elif unique / rows >= unique_threshold:
            if df[col].dtype in ["object", "int64"]:
                df.drop(columns=[col], inplace=True)
                if messages:
                    print(
                        f'Column "{col}" dropped because of too many unique values ({round(unique/rows, 2)*100}%)'
                    )
        elif unique == 1:
            df.drop(columns=[col], inplace=True)
            if messages:
                print(
                    f'Column "{col}" dropped because it has only one value ({df[col].unique()[0]})'
                )
    return df

In [54]:
basic_wrangling(df)

Column "Unnamed: 0" dropped because of too many unique values (100.0%)
Column "Player Name" dropped because of too many unique values (100.0%)
Column "Player-additional" dropped because of too many unique values (100.0%)

,Salary,Position,Age,Team,GP,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,48070014,PG,34,GSW,56,56,34.7,10.0,20.2,0.493,...,0.915,0.7,5.4,6.1,6.3,0.9,0.4,3.2,2.1,29.4
1,47345760,PG,32,LAC,34,3,22.2,4.1,9.9,0.408,...,0.681,0.4,2.3,2.7,5.2,0.8,0.4,2.4,1.7,11.4
2,47080179,PG,34,LAL/LAC,73,24,29.1,5.9,13.6,0.436,...,0.656,1.2,4.6,5.8,7.5,1.0,0.5,3.5,2.2,15.9
3,44474988,PF,38,LAL,55,54,35.5,11.1,22.2,0.500,...,0.768,1.2,7.1,8.3,6.8,0.9,0.6,3.2,1.6,28.9
4,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,18.3,0.560,...,0.919,0.4,6.3,6.7,5.0,0.7,1.4,3.3,2.1,29.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,35096,SF,23,POR,4,0,22.3,1.8,5.8,0.304,...,0.000,0.8,3.0,3.8,1.0,0.5,1.3,1.0,2.3,4.3
463,32795,SG,25,CHO,5,0,5.6,0.2,1.2,0.167,...,1.000,0.2,0.6,0.8,1.0,0.0,0.4,0.2,0.0,1.0
464,32171,SG,29,IND,3,0,18.7,2.7,7.0,0.381,...,1.000,0.0,2.0,2.0,1.7,0.7,0.0,0.0,1.7,8.0
465,5849,PF,23,BRK,1,0,35.0,6.0,12.0,0.500,...,1.000,3.0,6.0,9.0,7.0,0.0,1.0,4.0,5.0,16.0
466,5849,PG,24,MEM,1,0,41.0,1.0,3.0,0.333,...,NaN,0.0,4.0,4.0,7.0,3.0,0.0,2.0,3.0,3.0

In [55]:
df.drop(columns=['3P%', '2P%', 'FT%'], inplace=True)
df.dropna(inplace=True)
df.isna().sum()

Salary      0
Position    0
Age         0
Team        0
GP          0
GS          0
MP          0
FG          0
FGA         0
FG%         0
3P          0
3PA         0
2P          0
2PA         0
eFG%        0
FT          0
FTA         0
ORB         0
DRB         0
TRB         0
AST         0
STL         0
BLK         0
TOV         0
PF          0
PTS         0
dtype: int64

In [56]:
df.loc[df["Position"] == "PG-SG", "Position"] = "PG"
df.loc[df["Position"] == "SF-SG", "Position"] = "SF"
df.loc[df["Position"] == "SG-PG", "Position"] = "SG"
df.loc[df["Position"] == "SF-PF", "Position"] = "SF"

df.Position.value_counts()

Position
SG    116
SF     94
C      91
PF     86
PG     79
Name: count, dtype: int64

In [57]:
df.head()

,Salary,Position,Age,Team,GP,GS,MP,FG,FGA,FG%,...,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,48070014,PG,34,GSW,56,56,34.7,10.0,20.2,0.493,...,5.0,0.7,5.4,6.1,6.3,0.9,0.4,3.2,2.1,29.4
1,47345760,PG,32,LAC,34,3,22.2,4.1,9.9,0.408,...,3.3,0.4,2.3,2.7,5.2,0.8,0.4,2.4,1.7,11.4
2,47080179,PG,34,LAL/LAC,73,24,29.1,5.9,13.6,0.436,...,4.3,1.2,4.6,5.8,7.5,1.0,0.5,3.5,2.2,15.9
3,44474988,PF,38,LAL,55,54,35.5,11.1,22.2,0.500,...,5.9,1.2,7.1,8.3,6.8,0.9,0.6,3.2,1.6,28.9
4,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,18.3,0.560,...,7.1,0.4,6.3,6.7,5.0,0.7,1.4,3.3,2.1,29.1

In [58]:
from sklearn.linear_model import LinearRegression

y = df['Salary']
X = df.drop(columns=['Salary', 'Team'])
X = pd.get_dummies(X, drop_first=True, dtype=int)
X.head()

,Age,GP,GS,MP,FG,FGA,FG%,3P,3PA,2P,...,AST,STL,BLK,TOV,PF,PTS,Position_PF,Position_PG,Position_SF,Position_SG
0,34,56,56,34.7,10.0,20.2,0.493,4.9,11.4,5.1,...,6.3,0.9,0.4,3.2,2.1,29.4,0,1,0,0
1,32,34,3,22.2,4.1,9.9,0.408,1.0,3.2,3.1,...,5.2,0.8,0.4,2.4,1.7,11.4,0,1,0,0
2,34,73,24,29.1,5.9,13.6,0.436,1.2,3.9,4.7,...,7.5,1.0,0.5,3.5,2.2,15.9,0,1,0,0
3,38,55,54,35.5,11.1,22.2,0.500,2.2,6.9,8.9,...,6.8,0.9,0.6,3.2,1.6,28.9,1,0,0,0
4,34,47,47,35.6,10.3,18.3,0.560,2.0,4.9,8.3,...,5.0,0.7,1.4,3.3,2.1,29.1,1,0,0,0

In [59]:
model = LinearRegression().fit(X, y)
print(model.score(X, y))
model.coef_
df_results = pd.DataFrame({'coef': model.coef_}, index=model.feature_names_in_)
df_results.sort_values('coef', ascending=False)

0.6870471081533915

                     coef
FG           3.899039e+06
Position_PG  3.344866e+06
PTS          3.228798e+06
BLK          2.950965e+06
TRB          2.600134e+06
Position_SF  2.590440e+06
Position_SG  1.797242e+06
STL          1.014344e+06
TOV          9.718053e+05
Age          8.863355e+05
FG%          7.361477e+05
Position_PF  6.313901e+05
2PA          5.746121e+05
3PA          3.680179e+05
AST          8.121232e+04
GS           6.607348e+04
GP          -1.039626e+04
FTA         -1.735897e+05
MP          -2.573447e+05
FGA         -6.669012e+05
PF          -1.081686e+06
DRB         -1.647512e+06
FT          -2.073600e+06
ORB         -2.668396e+06
eFG%        -5.286616e+06
2P          -8.276885e+06
3P          -1.042308e+07

In [60]:
def vif(df):
    import pandas as pd
    from sklearn.linear_model import LinearRegression
    
    df_output = pd.DataFrame(columns=['VIF'])
    for col in df:
        y = df[col]
        X = df.drop(columns=[col])
        model = LinearRegression().fit(X, y)
        r_squared = model.score(X, y)
        vif = 1 / (1 - r_squared) # VIF = 3 is considered high multi-collinearity
        df_output.loc[col] = vif

    return df_output

In [61]:
vif_output = vif(X)
vif_output.sort_values("VIF", ascending=False)
bContinue = True
while bContinue:
    vif_output = vif(X)
    vif_output = vif_output[vif_output["VIF"] > 3]
    if vif_output.empty:
        bContinue = False
    else:
        X.drop(columns=[vif_output.index[0]], inplace=True)

                     VIF
PTS          4203.351130
TRB          1972.246898
2P           1446.113849
DRB          1115.540446
3P            611.898775
FT            268.454143
ORB           211.448332
2PA            77.220919
FTA            67.076034
3PA            45.688338
FG%            20.247674
MP             18.836285
eFG%           18.085908
TOV             8.440418
AST             6.613055
Position_PG     4.122983
Position_SG     4.118556
GS              3.743038
PF              3.740890
Position_SF     3.133686
STL             2.594412
BLK             2.296810
Position_PF     2.286121
GP              2.069510
Age             1.187447